extends ../template

block variables
    - var title = 'Главная'

block content
    h1 Главная
    p Разнообразный и богатый опыт говорит нам, что современная методология разработки в значительной степени обусловливает важность модели развития. Господа, консультация с широким активом однозначно определяет каждого участника как способного принимать собственные решения касаемо системы обучения кадров, соответствующей насущным потребностям. Внезапно, сделанные на базе интернет-аналитики выводы указаны как претенденты на роль ключевых факторов.